.container {
  padding-top: 84px;
  padding-bottom: 124px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.noMatchMessage {
  text-align: center;
  margin: 56px auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}
