.contExt {
  width: 100%;
  background-color: var(--badges);
}
.container {
  border-bottom: 1px solid var(--badges);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--badges); */
}
.logo {
  padding: 0;
  height: 16px;
  text-align: left;
  width: 104px;
}
.navList {
  display: flex;
  gap: 32px;
}
.navLink {
  text-decoration: none;
  color: var(--main);
  padding-top: 24px;
  padding-bottom: 24px;
}
.activeLink {
  color: var(--button-hover);
}
