:root {
  /* colors */
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
  /* fonts */
  --font-family: 'Manrope', sans-serif;
  --second-family: 'Inter', sans-serif;
}

body {
  color: var(--main);
  background-color: var(--white);
  font-family: var(--font-family);
  line-height: 125%;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  /* max-width: 1440px; */
  box-sizing: border-box;
  /* padding-right: 120px;
  padding-left: 120px; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.btn {
  border-radius: 12px;
  padding: 12px 51px;
  background: var(--button);
  font-family: inherit;
  font-weight: 600;
  color: var(--white);
  font-size: 16px;
  line-height: 125%;
  border: none;
  display: block;
  margin: 0 auto;
}
.btn:hover,
.btn:focus {
  background: var(--button-hover);
}
.btnTransp {
  border: 1px solid #3470ff;
  color: var(--main);
  background: transparent;
  white-space: nowrap;
  text-align: center;
}
.btnTransp:hover,
.btnTransp:focus {
  border-color: var(--button-hover);
  background: transparent;
}
